<div class="container">

    <div class="py-1 jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Eat-Da-Burger</h1>
            <p class="lead">Eat and Devour Burgers!!!</p>
        </div>
    </div>

    <div class="row my-2 burger-creation-form-row">
        <div class="col-md-12 text-center burger-creation-form-col">
            <form action="/burgers/create" method="POST">
                <div class="form-group">
                    <input size="50" placeholder="Type burger name here and click submit!" type="text" class="user-text"
                        name="burgerName" value="" />
                    <button type="submit" class="btn btn-primary" id="burger-creation-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row burger-action-row">
        <div class="col-6 text-center burgers-created-col">
            <div class="row burgers-created-title-row">
                <div class="col burgers-created-title-col">
                    <h3>CREATED BURGERS</h3>
                </div>
            </div>
            {{#each burgers}}
            {{#unless this.devoured}}
            <div class="row my-1 burgers-created-burgers-row">
                <div class="col-md-9 burgers-created-burger-col">
                    {{this.id}}. {{this.burger_name}}
                </div>
                <div class="col-md-3 burgers-created-devour-button-col">
                    <button value={{this.id}} class="devour-btn btn btn-warning">Devour</button>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-6 text-center burgers-devoured-col">
            <div class="row burgers-devoured-title-row">
                <div class="col burgers-devoured-title-col">
                    <h3>DEVOURED BURGERS</h3>
                </div>
            </div>
            {{#each burgers}}
            {{#if this.devoured}}
            <div class="row my-1 burgers-devoured-burgers-row">
                <div class="col-md-12 burgers-devoured-burger-col">
                    {{this.id}}. {{this.burger_name}}
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>